body {
    background-color: #ECE5DD;
    background-image: radial-gradient(#d1c7b7 1px, transparent 1px),
                      radial-gradient(#d1c7b7 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    padding-top: 75px;
}

.carousel .carousel-item img {
    border-radius: 15px;
    height: 400px; 
    object-fit: fill;
}

.carousel {
    margin: 20px auto;
    width: 95%;
}

.submenu-artikel {
    position: absolute;
    top: 100%;        /* Tepat di bawah menu */
    left: 100;          /* Rata kiri */
    background: white;
    border-radius: 8px;
    font-size: 14px;
    min-width: 180px;
    z-index: 9999;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Section Background */
.instagram-section {
    width: 100%;
    padding: 30px 0;
}

/* Wrapper supaya center dan full width */
.instagram-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Iframe Instagram */
.instagram-iframe {
    width: 100%;
    max-width: 1200px; /* biar tidak terlalu melebar di layar besar */
    height: 600px;
    border: none;
    border-radius: 15px;
}

/* Tombol Instagram */
.instagram-btn {
    background-color: #00008B !important;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
}

/* Mengecilkan tinggi navbar */
.navbar {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/* Mengecilkan tinggi item menu */
.navbar-nav .nav-link {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: 13px; /* opsional */
}

/* Mengecilkan logo */
.navbar-brand img {
    height: 32px !important;  /* kecilkan sesuai kebutuhan */
    width: auto !important;
}

/* Search bar lebih kecil */
.navbar .form-control {
    height: 32px !important;
    padding: 4px 10px !important;
    font-size: 14px;
}

.navbar .btn {
    padding: 4px 10px !important;
    height: 32px !important;
    font-size: 14px;
}